* {
  box-sizing: border-box;
}
html {
  margin: 0;
  background-color: white;
  font-family: "Roboto" sans-serif;
  font-weight: 400;
}
nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  padding: 20px 50px;
}
nav ul {
  padding: 0;
  margin: 0;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
  color: black;
}
.ul1 {
  max-width: 125px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}
header {
  background-image: url(./Rectangle.png);
  background-repeat: no-repeat;
  width: 100%;
  height: 510px;
  margin: 0;
  color: white;
  padding-top: 170px;
  text-align: center;
}
header h1 {
  margin: 0;
}
.p1{
  color: grey ;
}
main{
  text-align: center;
}
.img1{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-right: 20px;
}
main img{
  width: 600px;
  height: 400px;
}
.d1{
  text-align: flex-start;
  margin-left: 250px;
  margin-top: 20px;
}
.f1{
  font-family: "Roboto" sans-serif;
  font-size: 33px;
  font-weight: 400;
}
.p0{
  color: grey ;
}
.img2{
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.img2:hover{
  background-color: black;
}
.p1{
  color: grey;
  margin-left: 40px;
}
.png1{
  width: 310px;
  height: 434px;
  margin-right: 15px;
}
.png2{
  width: 310px;
  height: 434px;
  margin-right: 15px;
}
.png3{
  width: 310px;
  height: 434px;
  margin-right: 15px;
}
.p1{
  color: grey;
}
.li1{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style-type: none;
  margin-bottom: 0;
}
.x2{
  font-weight: 400;
  font-size: 27px;
}
.x3{
  font-weight: 400;
  font-size: 13px;
}
.img1{
  display: flex;
  justify-content: flex-end;
}
.li2{
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  list-style-type: none;
  margin-top: 0;
  color: grey;
}
.p22{
  background-image: url(./Rectangleзывдыз.png);
  height: 504px;
  width: 1300px;
  color: white;
  padding-top: 205px;
  text-align: center;
  margin-left: 20px;
}
.aydin1{
  margin-left: 540px;
  font-weight: 400;
}
.aydin2{
  margin-left: 332px;
  margin-right: 331px;
  color: grey;
  margin-bottom: 0;
}
.k1{
  display: flex;
  justify-content: space-around;
  margin-top: 60px;
  margin-right: 20px; 
  margin-top: 23px;
}
.aidin1{
  margin-left: 540px;
  margin-top: 38px;
  font-weight: 400;
  font-size: 34px;
  font-family: "Roboto" sans-serif;
}
.aidin2{
  margin-left: 326px;
  margin-right: 325px;
  color: grey;
  font-weight: 400;
  font-size: 16px;
  font-family: "Roboto" sans-serif;
}
.r1{
  margin-left: 30px;
  margin-right: 10px;
}
.r2{
  margin-right: 10px;
}
.r3{
  margin-right: 10px;
}
.r4{
  margin-right: 10px;
}
.r5{
  margin-right: 10px;
}
.r6{
  margin-right: 10px;
}
.r10{
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 12px;
}
.r11{
  margin-right: 10px;
  margin-top: 12px;
}
.r12{
  margin-right: 10px;
  margin-top: 12px;
}
.r13{
  margin-right: 10px;
  margin-top: 12px;
}
.r14{
  margin-right: 10px;
  margin-top: 4px;
}
.r15{
  margin-right: 10px;
  margin-top: 8px;
}
.r20{
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 12px;
}
.r21{
  margin-right: 10px;
  margin-top: 12px;
}
.r22{
  margin-right: 10px;
  margin-top: 12px;
}
.r23{
  margin-right: 10px;
  margin-top: 12px;
}
.r24{
  margin-right: 10px;
  margin-top: 4px;
}
.r25{
  margin-right: 10px;
  margin-top: 8px;
}
.r30{
  margin-left: 30px;
  margin-right: 10px;
  margin-top: 12px;
}
.r31{
  margin-right: 10px;
  margin-top: 12px;
}
.r32{
  margin-right: 10px;
  margin-top: 12px;
}
.r33{
  margin-right: 10px;
  margin-top: 12px;
}
.r34{
  margin-right: 10px;
  margin-top: 4px;
}
.r35{
  margin-right: 10px;
  margin-top: 8px;
}
.b00{
  margin-left: 540px;
  margin-top: 124px;
  font-weight: 400;
  font-size: 34px;
}
.b01{
  margin-left: 575px;
  font-weight: 400;
  font-size: 13px;
  font-family: "Roboto" sans-serif;
  margin-bottom: 121px;
  margin-top: 44px;
}
.logo1{
  margin-bottom: 24px;
}
.p23{
  background-image: url(./Rectangle033.png);
  background-repeat: no-repeat;
  width: 1280px;
  height: 404px;
  margin-left: 5px;
  color: white;
  padding-top: 170px;
  text-align: center;
  margin-left: 35px;
}
.s1{
  margin-left: 50px;
  margin-top: 77px;
}
footer {
  display: flex;
  background-color: #f9f9f9;
}
footer ul li a {
  color: black;
  font-family: Roboto;
  text-decoration: none;
  font-size: 22px;
  font-weight: 700;
}
footer ul li {
  list-style-type: none;
}
footer h1 {
  font-weight: 700;
  font-size: 22px;
}
.con-5 {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}
button {
  background-color: black;
  color: white;
  width: 70px;
  height: 70px;
  margin-left: 456px;
  margin-top: 39px;
}
footer div h1 {
  font-weight: 500;
  font-size: 22px;
  margin-top: 80px;
}
.s666 {
  margin-top: 80px;
}
footer ul li a{
  margin-top: 40px;
  font-weight: 400;
  font-size: 22px;
}
.pp99 {
  font-size: 10px;
  color: #9aa8b1;
  margin-top: 20px;
  margin-bottom: 42px;
}
.con-5 {
  color: #9aa8b1;
  font-size: x-small;
  margin-top: 140px;
  font-weight: 200;
}
footer div p strong {
  color: black;
  font-weight: 200;
}
.second {
  margin-left: 60px;
  margin-top: 35px;
  margin-bottom: 0px;
  font-weight: 400;
  font-size: 22px;
  font-family: "Roboto" sans-serif;
}
.i666{
  margin-top: 116px;
  margin-left: 50px;
  font-size: 8px;
  font-weight: 400px;
  font-family: "Roboto" sans-serif;
}
